<div id="welcome">
  <div class="row">
    <div class="span4 offset4">
      <div class="well">
        <h1>TokenFire is currenty in beta.</h1>
        <p class="lead">To stay updated, submit your email. <br>Don't worry, we hate spam - unless it's fried mmm...</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://tokenfire.us7.list-manage1.com/subscribe/post?u=5536ea12b0e3b400b9f2f5ccb&amp;id=cb2a8d390c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <input type="email" name="EMAIL" class="input-block-level" placeholder="Enter your e-mail">
            <input type="submit" name="subscribe" class="btn btn-primary btn-block" value="Subscribe">
          </form>
        </div>
        <!--End mc_embed_signup-->

        <p>If you want your app in the beta, <a href="mailto:support@tokenfire.com?subject=Beta%20Testing%20Inquiry">message us</a>!</p>
      </div>
    </div>
  </div>
</div>
