<div class="well">
  <h1>End User Terms of Service</h1>
  <br>
  <p>
    <b class="text-error">WE ARE CURRENTLY IN ALPHA TESTING SO CHANGES MAY HAPPEN FREQUENTLY. PLEASE BE AWARE.  OUR SITE AND SERVICES ARE SUBJECT TO CHANGE.  WE MAY REVISE AND CHANGE THIS POLICY AND THE WAYS IN WHICH WE COLLECT, USE AND DISCLOSE PERSONAL INFORMATION AS WE AMEND THE TOKENFIRE WEBSITE AND SERVICES.  PLEASE CHECK BACK HERE FREQUENTLY TO REVIEW THE LATEST VERSION OF THIS POLICY.</b>
  </p>
  <br>
  <p>
    TokenFire offers a system that lets you earn virtual credits (“Tokens”) by using your favorite mobile apps and completing 3rd party advertising offers (“Offers”) from which Tokens you can redeem for products in the TokenFire store (collectively, the “Service”). Our website is located at <a href="www.tokenfire.com">www.tokenfire.com</a> (the “Site”). Please read these Terms of Service (the “Terms”) carefully because they govern your use of our Service accessible via third party applications on your mobile device that include the Service (“Apps”) and the TokenFire app (“TF App”).
  </p>
  <br>
  <h3>Agreement to Terms</h3>
  <p>By using our Service, you agree to be bound by these Terms. If you don’t agree to these Terms, do not use the Service.</p>
<br>
<h3>Changes to Terms or Service</h3>
<p>We may modify the Terms at any time. If we do, we’ll let you know by posting the modified Terms on the Site or through other communications. You should review the modified Terms because if you continue to use the Service after we’ve told you that the Terms have been modified, you are indicating to us that you agree to be bound by the modified Terms. If you don’t agree to be bound by the modified Terms you can’t use the Service anymore. We may change or discontinue all or any part of the Service, at any time and without notice.</p>
<br>
<h3>Who May Use the Service</h3>

<h4>Eligibility</h4>

<p>You may use the Service only if you are 13 years or older and are not barred from using the Service under applicable law.</p>

<h4>Registration and Your Information</h4>

<p>If you want to use the Service you’ll have to create an account (“Account”). You can do this using the TF App by providing your email address and creating a password.</p>

<p>It’s important that you provide us with accurate, complete and up-to-date information for your Account and you agree to update such information to keep it accurate, complete and up-to-date. If you don’t, we might have to suspend or terminate your Account. TokenFire reserves the right to refuse registration of or cancel an Account in its discretion.</p>

<p>You agree to only have one account with TokenFire. All devices under your use must be registered with your account information. Failure to do either may result in the termination of your account(s) and device(s). </p>

<p>You agree that you won’t disclose your Account password to anyone and that you are the sole and exclusive user of your account; sharing access to accounts between users is not permitted and you shall notify us immediately of any unauthorized use of your Account. You’re responsible for all activities that occur under your Account, whether or not you know about them.
</p>
<h3>Feedback</h3>

<p>We welcome feedback, comments and suggestions for improvements to the Service (“Feedback”). You can submit Feedback by emailing us at <a href="support@tokenfire.com">support@tokenfire.com</a>. If you provide us any Feedback, you agree that we may use, copy, modify, create derivative works of and otherwise exploit the Feedback for any purpose.</p>

<h3>Privacy Policy</h3>

<p>Please refer to our Privacy Policy (<a href="www.tokenfire.com/privacy">www.tokenfire.com/privacy</a>) for information on how we collect, use and disclose information from our users.</p>

<h3>In-App Currencies and Goods</h3>

<p>The Service includes a virtual, in-App currency called Tokens. You can obtain Tokens by engaging in certain activities within the Apps you use that use our Service. Tokens are made available to you at the sole discretion of TokenFire and may be discontinued at any time. The Service may include virtual, digital items offered by third parties (“Virtual Goods”), as well as physical goods or merchandise that may be purchased from within the Service with Tokens. You are solely responsible for any taxes, tariffs, or fees that may be associated with your purchase of physical goods. The rights to the Virtual Goods are granted by the company or person which offers those Virtual Goods and not by TokenFire and you may be required to agree to additional terms. Regardless of the terminology used, Tokens and Virtual Goods may never be redeemed for “real world” money or other items of monetary value from TokenFire or any other party, other than the Virtual Goods or physical goods or merchandise available from within the Service.</p>

<p>Virtual Goods and Tokens are digital items only. TokenFire grants you a limited, nonexclusive, non-transferable, non-sublicenseable, revocable right to use such Tokens solely within the Service for your personal and noncommercial use and for no other purpose. Except for the limited rights described herein, you have no property interest or right or title in or to any such Tokens, which remains the exclusive property of TokenFire. As stated above, the existence of a particular offer of Virtual Goods, physical goods or merchandise via the Service, or Tokens is not a commitment by TokenFire to maintain or continue to make the Virtual Goods or the Service available in the future. The scope, variety and type of Virtual Goods, physical goods or merchandise, and Tokens that you may obtain can change at any time. TokenFire has the absolute right to manage, regulate, control, modify or eliminate such Tokens, Virtual Goods, physical goods or merchandise from the Service as it sees fit in its sole discretion, and TokenFire will have no liability to you or anyone for the exercise of such rights.</p>

<p>Except where explicitly authorized within the Service, (a) transfers of Tokens or Virtual Goods are strictly prohibited; (b) outside of the Service, you may not buy or sell any Tokens for “real world” money or otherwise exchange items for value; and (c) TokenFire does not recognize any such purported transfers of Tokens, nor the purported sale, gift or trade in the “real world” of anything that appears in the Service. Any attempt to do any of the foregoing is in violation of these Terms and may result in an automatic termination of your rights to use the Tokens or Virtual Goods and may result in termination of your Account, a lifetime ban from the Service and/or possible legal action. All Virtual Goods and Tokens are forfeited if your Account is terminated or suspended for any reason, in TokenFire’s sole and absolute discretion, or if TokenFire discontinues providing the Service.</p>

<h3>Content and Content Rights</h3>

<p>For purposes of these Terms “Content” means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through the Service.</p>

<h3>Content Ownership</h3>

<p>TokenFire and its licensors exclusively own all right, title and interest in and to the Site, Service and Content, including all associated intellectual property rights. You acknowledge that the Site, Service and Content are protected by copyright, trademark, and other laws of the United States and foreign countries. You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Service or Content.</p>

<h3>Rights in Content Granted by TokenFire</h3>

<p>Subject to your compliance with these Terms, TokenFire grants you a limited, non-exclusive, nontransferable license to access and view the Content solely in connection with your permitted use of the Site and Service and solely for your personal and non-commercial purposes.</p>

<h3>General Prohibitions</h3>

  You agree not to do any of the following:
  <ul>
    <li>Use, display, mirror or frame the Service, or any individual element within the Service, TokenFire’s name, any TokenFire trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without TokenFire’s express written consent;</li>
    <li>Access, tamper with, or use non-public areas of the Service, TokenFire’s computer systems, or the technical delivery systems of TokenFire’s providers;</li>
    <li>Attempt to probe, scan, or test the vulnerability of any TokenFire system or network or breach any security or authentication measures;</li>
    <li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by TokenFire or any of TokenFire’s providers or any other third party (including another user) to protect the Service or Content;</li>
    <li>Attempt to access or search the Service or Content or download Content from the Service through the use of any engine, software, tool, agent, device, automation, or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by TokenFire or other generally available third party web browsers;</li>
    <li>Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;</li>
    <li>Use any meta tags or other hidden text or metadata utilizing a TokenFire trademark, logo, URL or product name without TokenFire’s express written consent;</li>
    <li>Use the Service or Content for any commercial purpose or for the benefit of any third party or in any manner not permitted by these Terms;</li>
    <li>Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Service or Content to send altered, deceptive or false source-identifying information;</li>
    <li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Service or Content;</li>
    <li>Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Service;</li>
    <li>Collect or store any personally identifiable information from the Site or Service from other users of the Service without their express permission;</li>
    <li>Impersonate or misrepresent your affiliation with any person or entity;</li>
    <li>Violate any applicable law or regulation; or</li>
    <li>Encourage or enable any other individual to do any of the foregoing.</li>
  </ul>
  <p>Although we’re not obligated to monitor access to or use of the Service or Content or to review or edit any Content, we have the right to do so for the purpose of operating the Service, to ensure compliance with these Terms, or to comply with applicable law or other legal requirements. We reserve the right, but are not obligated, to remove or disable access to any Content, at any time and without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in violation of these Terms. We have the right to investigate violations of these Terms or conduct that affects the Service. We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.</p>

  <h3>Links to Third Party Websites or Resources</h3>

  <p>The Service and Site may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links displayed on such sites. You acknowledge sole responsibility for, and assume all risk arising from, your use of any third-party websites or resources.</p>

  <h3>Termination</h3>

  <p>We may terminate your access to and use of the Service, at our sole discretion, at any time and without notice to you. You may cancel your Account at any time by sending an email to us at support@tokenfire.com. Upon any termination, discontinuation or cancellation of Services or your Account, the following provisions will survive: In-App Currencies and Goods (except for licenses granted to you), Content and Content Rights, Content Ownership (except for licenses granted to you), Termination, Warranty Disclaimers, Indemnity, Limitation of Liability, Dispute Resolution, and General Terms.</p>

  <h3>Warranty Disclaimers</h3>

  <p>THE SERVICE AND CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING, WE EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. TokenFire has no special relationship or fiduciary duty to you. We make no warranty that the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. We make no warranty regarding the quality, accuracy, timeliness, truthfulness, completeness or reliability of any Content.</p>

  <h3>Indemnity</h3>

  <p>You will indemnify, defend, and hold harmless TokenFire and its officers, directors, employees and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (i) your access to or use of the Service or Content or (ii) your violation of these Terms.</p>

  <h3>Limitation of Liability</h3>
  <p>NEITHER TOKENFIRE NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICE OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE SERVICE ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICE OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT TOKENFIRE HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

  <p>IN NO EVENT WILL TOKENFIRE’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICE OR CONTENT EXCEED FIFTY DOLLARS $50. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN TOKENFIRE AND YOU.
  </p>
  <h3>Changes</h3>

  <p>Notwithstanding the provisions of the “Changes to Terms of Service” section above, if Pocket Change changes this “Dispute Resolution” section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email to <a href="mailto:support@tokenfire.com">support@tokenfire.com</a>) within 30 days of the date such change became effective, as indicated in the “Last Updated” date above or in the date of Pocket Change’s email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and Pocket Change in accordance with the provisions of this “Dispute Resolution” section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).
  </p>
  <h3>General Terms
  </h3>
  <p>These Terms constitute the entire and exclusive understanding and agreement between TokenFire and you regarding the Service and Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between TokenFire and you regarding the Site, Service and Content. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
  </p>
  <p>You may not assign or transfer these Terms, by operation of law or otherwise, without TokenFire’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. TokenFire may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.
  </p>
  <p>Any notices or other communications provided by TokenFire under these Terms, including those regarding modifications to these Terms, will be given by Pocket Change (i) via email; or (ii) by posting to the Service. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
  </p>
  <p>TokenFire’s failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of TokenFire. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.
  </p>
  <h3>Contact Information
  </h3>
  <p>If you have any questions about these Terms or the Service please contact TokenFire at <a href="mailto:support@tokenfire.com">support@tokenfire.com</a>.
  </p>

  <p>TokenFire, Inc. </br>
    Last Updated: August 30, 2013
  </p>
</div>
