<div class="well span5 offset3">
  <legend>Edit Application</legend>

  <%= form_for :application, :url => oauth_application_path(@application), :html => { :method => :put } do |f| %>
    <%= render 'form', :application => @application, :f => f %>
  <% end %>
</div>
