
<div class="well span5 offset3">
  <header class="page-header">
    <h2>New application</h2>
  </header>

  <%= form_for :application, :url => oauth_applications_path, :html => { :method => :post} do |f| %>
    <%= render 'form', :application => @application, :f => f %>
  <% end %>
</div>
