<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Icon</th>
    <th>Actions</th>
  </tr>
  <% applications.each do |application| %>
    <tr>
      <td><%= application.id %></td>
      <td><%= link_to application.name, admin_app_path(application) %></td>
      <td>
        <% if application.image_url == nil %>
          none
        <% else %>
          <%= image_tag application.image_url.to_s %>
        <% end %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_app_path(application) %>
      </td>
    </tr>
  <% end %>
</table>
