<header class="page-header">
  <h1>Getting Started</h1>
</header>
<p class="lead">
  Need help integrating TokenFire? Check out the integration guide for step-by-step directions.
</p>
<p><a href="https://github.com/TokenFire/tokenfire_android_sdk" target="_blank" class="btn btn-success">Android Guide</a>
 or <%= link_to 'Register Application', new_oauth_application_path, :class => 'btn btn-primary' %></p>
