<div class="row-fluid">
  <h4>Getting Started</h4>
  <p>
    Need help integrating TokenFire? Check out the integration guide for step-by-step directions.
  </p>
  <p><a href="#" class="btn">Android Guide</a> or <%= link_to 'Register Application', new_oauth_application_path, :class => 'btn' %></p>
</div>

