<div class="row-fluid">
  <div class="span6 offset3">
    <div class="well">
      <%= form_for @campaign, :url => app_campaigns_path(@campaign.app_id), :html => { :method => :post } do |f| %>
          <legend>New Campaign for <%= @application.name.capitalize %></legend>
          <%= render 'form', :campaign => @campaign, :f => f %>
      <% end %>
    </div>
  </div>
</div>