<%= render 'apps/apps_header' %>

<% if @campaign.active %>
  <%= render 'campaign_stats' %>
<% else %>
  <%= render 'new_campaign' %>
<% end %>

<div>
  <%= link_to 'Back to Campaigns', app_campaigns_path(@application), :class => "btn" %>
</div>
