

.block-centered {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

html, body {
  height: 100%;
}

body {
  background-image: url(bg-tile.png);
}

@media (min-width: 981px) {
  #main {
    padding-top: 60px;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
// Footer Goods
.push, footer {
  height: 4em;
}

footer {
  text-align: center;
}

h3 {
  margin: 0px;
  padding: 0px;
  line-height: 30px;
}

.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.table tr,
.table td {
  background-color: white;
}

.well {
  background-color: white;
}

.carousel-caption {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}


.bigGraph {
  width: 1168px;
  height: 290px;

  overflow:hidden;
  display:block;
  border:1px solid lightgray;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;

}
