<div class="span16">
  <header class="page-header"><h2>Edit achievement</h2></header>
</div>

<div class="span12">
  <%= form_for :achievement, :url => app_achievement_path(@application,@achievement), :html => { :method => :put } do |f| %>
      <%= render 'form', :achievement => @achievement, :f => f %>
  <% end %>
</div>


