<div class="row">
  <div class="well span8 offset2">

    <%= form_for :achievement, :url => app_achievement_path(@application,@achievement), :html => { :method => :put } do |f| %>
      <legend>Edit <%= @achievement.name %></legend>
      <%= render 'form', :achievement => @achievement, :f => f %>
    <% end %>

  </div>
</div>


