<h1>TokenFire Support</h1>
<p>This page will serve as the entrance for the Tokenfire Support portal.</p>
<p>For now,  I offer the following links:</p>
<a href="https://github.com/TokenFire/tokenfire_android_sdk" target="_blank">TokenFire Android SDK Integration Guide</a>
<p>SDK Files:</p>
<a href="https://github.com/TokenFire/tokenfire_android_sdk/raw/master/tokenfireactivity.jar">Android SDK 1.0 Jar</a>
