<h1>TokenFire Support</h1>
<p>This page will serve as the entrance for the Tokenfire Support portal.</p>
<p>For now,  I offer the following links:</p>
<%= link_to 'TokenFire Android SDK installation and integration', :controller => '/support', :action => 'android_sdk_setup' %>
